<header>
    <div class="container">
        <div class="header-content" role="banner">
            <div class="header-left">
                <a href="{{ .Site.BaseURL }}" class="logo">{{ .Site.Title }}</a>
            </div>
            <div class="header-center">
                <div class="search-container">
                    <input type="text" id="search-input" class="search-bar" autocomplete="off" placeholder="Search" aria-expanded="false" aria-controls="search-results" role="combobox" aria-label="Search posts">
                    <div id="search-results" class="search-results"></div>
                </div>
            </div>
            <div class="header-right">
                {{- partial "theme-toggle.html" . -}}
            </div>
        </div>
    </div>
</header>