/* IBM Plex Sans */
@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 100 700;
    font-display: swap;
    src: url('/fonts/IBMPlexSans-VariableFont_wdth,wght.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'IBM Plex Sans';
    font-style: italic;
    font-weight: 100 700;
    font-display: swap;
    src: url('/fonts/IBMPlexSans-Italic-VariableFont_wdth,wght.woff2') format('woff2');
  }

  