name: Deploy

on:
  push:
    branches:
      - main
  
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

env:
  HUGO_VERSION: 0.142.0

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Hugo
        run: |
          curl -sLJO "https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_linux-amd64.tar.gz"
          mkdir -p "${HOME}/.local/hugo"
          tar -C "${HOME}/.local/hugo" -xf "hugo_extended_${HUGO_VERSION}_linux-amd64.tar.gz"
          rm "hugo_extended_${HUGO_VERSION}_linux-amd64.tar.gz"
          echo "${HOME}/.local/hugo" >> "${GITHUB_PATH}"

      - name: Cache Resume
        id: cache-resume
        uses: actions/cache@v5
        with:
          path: resume/main.pdf
          key: ${{ runner.os }}-resume-${{ hashFiles('resume/main.tex') }}

      - name: Compile resume
        if: steps.cache-resume.outputs.cache-hit != 'true'
        uses: xu-cheng/latex-action@v4
        with:
          root_file: main.tex
          working_directory: resume

      - name: Add resume
        run: cp resume/main.pdf static/resume.pdf

      - name: Cache Hugo restore
        id: cache-hugo-restore
        uses: actions/cache/restore@v5
        with:
          path: ${{ runner.temp }}/hugo_cache
          key: hugo-${{ github.run_id }}
          restore-keys: hugo-

      - name: Build
        run: hugo --gc --minify --cacheDir "${{ runner.temp }}/hugo_cache"

      - name: Cache Hugo save
        id: cache-hugo-save
        uses: actions/cache/save@v5
        with:
          path: ${{ runner.temp }}/hugo_cache
          key: ${{ steps.cache-hugo-restore.outputs.cache-primary-key }}

      - name: Upload
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./public

      - name: Deploy
        uses: actions/deploy-pages@v4
