name: Deploy

on:
  push:
    branches:
      - main
  
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: '0.142.0'
          extended: true
      
      - name: Compile resume
        uses: xu-cheng/latex-action@v4
        with:
          root_file: main.tex
          working_directory: resume
          compiler: pdflatex
      
      - name: Compile resume
        uses: xu-cheng/latex-action@v4
        with:
          root_file: main.tex
          working_directory: resume
      
      - name: Logs
        if: failure()
        run: |
          echo "--- Logs ---"
          cat resume/main.log || echo "No logs found"
          
      - name: Add resume
        run: cp resume/main.pdf static/resume.pdf

      - name: Build
        run: hugo --minify

      - name: Upload
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./public

      - name: Deploy
        uses: actions/deploy-pages@v4
